* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

body {
	font-family: 'Roboto', Arial, sans-serif;
	color: #3e3e3e;
	background-color: #fafafa;
}

ul li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
a {
	color: #fafafa;
	text-decoration: none;
}
*::-webkit-scrollbar {
    width: 5px;
    background-color:  transparent;
}
*::-webkit-scrollbar-thumb {
    background: #6a7cae;
    border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
    background: #3c3c95;
}
.container {
	max-width: 1350px;
	margin: 0 auto;
	padding: 0 10px;
}
.header-main {
	padding: 15px 0;
	color: #fff;
	background-color: #4848b5;
}
.header-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.header-logo {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.header-profile {
	display: flex;
	align-items: center;
}
.header-profile img {
	width: 41px;
	border-radius: 50%;
}
.header-profile>button {
	width: 25px;
	height: 25px;
	margin-left: 20px;
	border: none;
	background: url(img/logout.svg) 100%/100%;
	cursor: pointer;
}
.logo__img {
	width: 45px;
	height: 45px;
	margin-right: 15px;
	border-radius: 50%;
	background: #fafafa url(img/hands.svg) center center no-repeat;
}
.header-title {
	font-size: 32px;
	font-weight: 700;
	letter-spacing: 0.8px;
}
.header-profile__text {
	font-size: 18px;
	font-weight: 700;
}
.header-link {
	font-size: 18px;
	font-weight: 700;
	transition: .4s;
}
.header-link:hover {
	color: #c3c3c3;
}
.header-link span {
	margin-left: 5px;
	vertical-align: bottom;
	font-size: 19px;
	line-height: 1;
}
.content-wrap {
	display: flex;
	justify-content: flex-start;
	padding-top: 60px;
}
aside {
	width: 220px;
	margin-right: 50px;
	flex-shrink: 0;
}
main {
	width: 100%;
	height: 100%;
	margin-top: -15px;
}
.aside-list li {
	position: relative;
	margin-bottom: 45px;
	padding-left: 42px;
	color: #636e7b;
	font-size: 24px;
	letter-spacing: 0.4px;
	transition: 0.4s;
	cursor: pointer;
}
.aside-list li>span {
	position: absolute;
	top: 50%;
	left: 2px;
	font-size: 26px;
	transform: translateY(-58%);
}
.aside-list li:hover {
	color: #4848b5;
}
.aside-checked {
	color: #4848b5 !important;
	cursor: default !important;
}
.content-block_hidden{
	display: none !important;
}
.content-block_visible {
	display: block !important;
	width: 100%;
	min-height: 500px;
}
.content-block button,
.login-wrap button,
.error-page_btn,
.profile-wrap button,
.modal-profile button,
.overlay-avatar button {
	display: block;
	min-width: 220px;
	min-height: 50px;
	padding: 10px 5px;
	border: none;
	border-radius: 8px;
	color: #fff;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 19px;
	font-weight: 700;
	background-color: #5a5acc;
	cursor: pointer;
	transition: .4s;
}
.delete_friend button {
	margin-top: 20px !important;
}
.content-block button:hover,
.login-wrap button:hover,
.error-page_btn:hover,
.profile-wrap button:hover,
.modal-profile button:hover,
.overlay-avatar button:hover {
	background-color: #4848b5;
}
.content-block button:active,
.login-wrap button:active,
.error-page_btn:active,
.profile-wrap button:active
.modal-profile button:active,
.overlay-avatar button:active {
	background-color: #3c3c95;
}
.search-wrap {
	position: relative;
	z-index: 2;
	display: flex;
	width: 75%;
	margin: 15px auto 20px;
}
.search-wrap .material-icons {
	position: absolute;
	z-index: inherit;
	opacity: 1;
	display: inline;
	top: 50%;
	left: 7px;
	width: 20px;
	padding: 0;
	color: #636e7b;
	font-size: 20px;
	font-weight: 400;
	background-color: transparent;
	transform: translateY(-50%);
}
.search-wrap>label {
	position: relative;
	width: 265px;
	margin: 0;
}
.search-wrap input {
	width: 100%;
	padding: 10px 30px;
}
.search-wrap > label button {
	position: absolute;
	top: 50%;
	right: 5px;
	display: none;
	min-width: 25px;
	height: 80%;
	min-height: 0;
	padding: 0;
	color: #6a7cae;
	font-size: 15px;
	font-weight: 400;
	background-color: transparent;
	transform: translateY(-50%);
}
.search-wrap button:hover {
	background-color: transparent !important;
	font-weight: 700;
}
.search-empty {
	position: relative;
	width: 300px !important;
    height: 300px !important;
	background: transparent url('img/binoculars.svg') 50%/150px no-repeat !important;
	box-shadow: none !important;
}
.search-empty::before {
	position: absolute;
	content: 'No results found';
	bottom: 20px;
	left: 50%;
	width: 100%;
    height: auto;
    color: #6a7cae;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.5px;
	transform: translateX(-50%);
}
.table-wrap {
	width: 75%;
	margin: 0 auto 10px auto;
	border: none;
	border-radius: 8px;
	text-align: center;
	background-color: #fff;
    box-shadow: 0 5px 16px 0 rgb(213 228 244 / 40%);
}
table {
	width: 100%;
	border-collapse: collapse;
}
.table-data {
	table-layout:fixed; 
	word-break: break-all;
}
td,th {
	padding: 15px 10px;
	border-top: 1px solid #5a5acc66;
	border-right: 1px solid #5a5acc66;
	font-size: 18px;
}
th {
	position: relative;
	border-top: none;
	color: #fafafa;
	background-color: #6a7cae;
}
td:last-child,
th:last-child {
	border-right: none;
}
th:last-child {
	border-top-right-radius: 8px;
}
th:first-child {
	border-top-left-radius: 8px;
}
td:first-child {
	text-transform: capitalize;
}
.table-wrap th>span {
	position: relative;
	z-index: 1;
	display: inline;
	opacity: 0.5;
	min-width: 0;
	min-height: 0;
	width: 25px;
	height: 25px;
	margin: 0 0 0 10px;
	padding: 0;
	vertical-align: middle;
	color: #fff;
	background-color: transparent;
	cursor: pointer;
}
.asc-active {
	opacity: 1 !important;
}
.desc-active {
	opacity: 1 !important;
}
.pagination {
	display: none;
	justify-content: flex-end;
	width: 75%;
	margin: 0 auto;
}
.pagination button {
	min-width: 0;
	margin: 0 10px 0 0;
	color: #636e7b;
	background-color: transparent;
}
.pagination-btn_active {
	color: #5a5acc !important;
	cursor: default !important;
}
.pagination button:last-child {
	margin-right: 10px;
}
.pagination button:hover {
	background-color: transparent !important;
	color: #5a5acc;
}
.pagination button:active,
.search-wrap button {
	background-color: transparent !important;
}
.delete_friend .user-table {
	width: 80%;
	margin: 50px auto 0;
}
.delete_friend .user-table td {
	text-align: center;
}
label,
.name-friend {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-bottom: 30px;
	font-size: 20px;
}
input,
.name-friend ul {
	width: 250px;
	padding: 10px;
	border: 1px solid #6a7cae;
	border-radius: 6px;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 16px;
	color: #3e3e3e;
}
input:focus {
	border: 1px solid #3c3c95;
}
.change_friend input {
	text-transform: capitalize;
}
.name-friend b {
	font-weight: 400 !important;
}
.name-friend {
	position: relative;
}
.list-name {
	position: absolute;
	z-index: 1;
	overflow-y: hidden;
	top: -8px;
	right: 50%;
	width: 100% !important;
	height: 40px;
	min-width: 220px !important;
	max-height: 350px;
	padding: 0 !important;
	background-color: #fff;
	transform: translateX(50%);
}
.name-friend-expanced {
	min-height: 180px;
	overflow-y: auto;
	border: 1px solid #3c3c95 !important;
}
.name-friend ul li {
	margin: 0;
	padding: 10px;
	text-transform: capitalize;
	cursor: pointer;
	transition: .4s;
}
.header-list-name {
	text-transform: none !important;
}
.name-friend ul li:hover {
	background-color: #ececec;
}
.name-friend i {
	position: absolute;
	z-index: 10;
	top: 0;
	right: 0;
	width: 30px;
	height: 30px;
	color: #6a7cae;cursor: pointer;
}
.name-friend+label {
	margin-top: 60px;
}
.icon-rotate {
	top: -8px !important;
	right: 14px !important;
	transform: rotate(180deg) !important;
}
.add_friend,
.change_friend,
.delete_friend {
	width: 350px;
	margin: 15px auto;
}
.add_friend button,
.change_friend button,
.delete_friend button {
	width: 100%;
	margin: 40px auto 20px;
}
.change_friend {
	width: 380px;
}
.delete_friend {
	width: 430px;
}
.content-block span,
.login-wrap span,
.flash {
	position: fixed;
	top: 0;
	right: 0;
	display: block;
	padding: 15px 40px;
	border-radius: 8px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	color: #fafafa;
	font-size: 17px;
	letter-spacing: 0.5px;
	font-weight: 700;
	background-color: #3e9f60;
	opacity: 0;
	z-index: -2;
}
.flash-close {
	animation: closeFlash 3s ease;
	animation-fill-mode: forwards;
} 
@keyframes closeFlash {
	0% {
		opacity: 1;
		z-index: 101;
	}
	80% {
		opacity: 1;
	}
	99% {
		z-index: 101;
	}
	100% {
		opacity: 0;
		z-index: -2;
	}
}

/* Profile */
.profile-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	max-width: 800px;
	margin: 0 auto;
}
.profile-wrap h2,
.login-wrap h2 {
	width: 100%;
	margin: 60px 0;
	font-size: 36px;
	text-align: center;
}
.profile-wrap img {
	width: 320px;
	margin: 0 auto;
	border-radius: 8px;
	box-shadow: 0 5px 16px 0 rgb(213 228 244 / 40%);
	cursor: pointer;
}
.user-table {
	width: 300px;
	margin: 0 auto;
	text-align: left;
}
.user-table th {
	padding: 17px;
	border: none;
	color: #4848b5;
	font-size: 24px;
    background-color: transparent;
}
.user-table td {
	border: none;
	font-size: 20px;
	background-color: transparent;
}
.profile-wrap button {
	margin: 60px auto;
}
.modal-profile,
.modal-avatar {
	position: absolute;
	top: 50px;
	left: 50%;
	width: 500px;
	padding: 32px 20px;
	border-radius: 8px;
	background-color: #fafafa;
	transform: translateX(-50%);
}
.modal-profile h3,
.modal-avatar h3 {
	margin-bottom: 30px;
	font-size: 28px;
	text-align: center;
}
.profile-btn-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 80%;
	margin: 40px auto 0;
}
.profile-btn-wrap button {
	min-width: 0;
	width: 45%;
}

/* Sign up */

.signup-wrap .first-step button {
	margin-top: 20px !important;
}
.signup-wrap label[for="confirm-password"] {
	margin-top: -10px;
}
.signup-wrap .avatar-wrap {
	display: inline-flex;
	align-items: center;
	font-size: 20px;
	transition: .4s;
	cursor: pointer;
}
.signup-wrap .avatar-wrap:hover {
	color: #4848b5;
}
.avatar-wrap b {
	margin-right: 10px;
	font-weight: 400;
}
.avatar-wrap img {
	width: 35px;
	border-radius: 50%;
}
.avatar-img-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.avatar-img-wrap img {
	width: 48%;
	margin-bottom: 15px;
	border: 1px solid transparent;
	border-radius: 4px;
	box-shadow: 0 5px 16px 0 rgb(213 228 244 / 40%);
	transition: .4s;
	cursor: pointer;
}
.avatar-img-wrap img:hover {
	border: 1px solid #6a7cae;
}
.avatar-img_chosen {
	border: 1px solid #4848b5 !important;
	cursor: default !important;
}
.overlay-avatar button {
	margin: 10px auto 0;
}
.overlay-avatar .profile-btn-wrap {
	width: 95%;
}

/* Log in */
.login-wrap h2 {
	margin-bottom: 30px;
}
.login-wrap form {
	width: 350px;
	margin: 0 auto;
}
.login-wrap label {
	margin: 0 0 10px 5px;
}
.login-wrap input {
	display: block;
	width: 100%;
	margin-bottom: 20px;
}
#password {
	padding-right: 30px;
}
.login-wrap button {
	width: 100%;
	margin-top: -10px;
	font-size: 20px;
}
.login-wrap i {
	position: relative;
    top: -50px;
    right: 8px;
    display: block;
    width: 20px;
	height: 20px;
    margin-left: auto;
	background: url(img/eye.svg) no-repeat;
	cursor: pointer;
}

/* Error page */
.error-page {
	margin: 30px 0;
	text-align: center;
}
.error-page span {
	display: block;
	margin-bottom: 5px;
	color: #4848b5;
	font-size: 48px;
	font-weight: 700;
}
.error-page h1 {
	font-size: 48px;
}
.error-page img {
	width: 350px;
	margin: 40px 0 10px;
}
.error-page_btn {
	width: 320px !important;
	margin: 30px auto;
}
.overlay,
.overlay-avatar {
	position: fixed;
	z-index: -1;
	opacity: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
}
.show-overlay {
	animation: showOverlay 0.6s forwards;
}
.hide-overlay {
	animation: hideOverlay 0.6s forwards;
}

/* Animations */
@keyframes showOverlay {
	0% {
		z-index: -1;
		opacity: 0;
	}
	100% {
		z-index: 100;
		opacity: 1;
	}
}
@keyframes hideOverlay {
	0% {
		z-index: 100;
		opacity: 1;
	}
	100% {
		z-index: -1;
		opacity: 0;
	}
}

/* Media querries */
@media(max-width: 1010px) {
	.table-wrap {
		width: 100%;
	}
}